 /* This is how I solved it last night. 

One - I moved this style sheet below or after the paint.css
Two - I accomplished this without putting div before everything. */

#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}
/* div id    class class */
/* a class of "slick wicked" is really two classes */
#wall #tag-3.slick.wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}
/* child combiner */
/* selects the child div of .parent */
#wall .parent > div {
  display: none;
} 


/* I needed to move around the links to the style sheet */
#wall .parent > div #tag-6 {
  display: none; 
}

#wall * { 
  display: none;
}