/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  display: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

div#wall div.parent #tag-5.slick{
  display: none;
}

div#wall div.parent div:first-child > div#tag-7.slick {
  display: none;
}