/* write your override styles here */
#wall .tag-1 {
  display: none;
}

div#wall #tag-2 {
  display: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

div#wall .parent div#tag-5.slick {
  display: none;
}

div#wall div.parent div + div:last-child div#tag-6 {
  display: none;
}

body div#wall div.parent div:first-child #tag-7.slick {
  display: none;
}