/* write your override styles here */

#wall .tag-1 {
  display: none;
}

body #wall #tag-2 {
  display: none;
}

body div#wall #tag-3.slick {
  display: none;
}

body div#wall .parent #tag-4 {
  display: none;
}

body div#wall .parent #tag-5.slick {
  display: none;
}

body div#wall div.parent div:last-child div#tag-6 {
  background: url(../images/tag-6.png) no-repeat;
  z-index: 2;
  display: none;
}

body div#wall div.parent div > #tag-7.slick:last-child {
  background: url(../images/tag-7.png) no-repeat;
  z-index: 1;
  display: none;
}
