/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  display: none;
}

div#wall div#tag-3.slick {
  display: none;
}

div#wall #tag-4 {
  display: none;
}

div#wall .parent div#tag-5.slick {
  display: none;
}

div#wall div.parent div:last-child div:last-child#tag-6 {
  display: none;
}

body div#wall div.parent div > div#tag-7.slick {
  display: none;
}